<a href="https://colab.research.google.com/github/lolisguarana/Projeto-pandas/blob/main/ProjetoDIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [22]:
df = pd.read_excel("/content/drive/MyDrive/Vendas.xlsx")

In [6]:
df.head()

     Produto  Qtde    Preço       Data
0    Celular   1.0  2999.99 2022-06-01
1  Chocolate   2.0    29.99 2022-01-06
2      Blusa   5.0   199.99 2022-01-06
3     Sapato   1.0   299.99 2022-01-06
4      Bolsa   1.0   999.99 2022-01-06

In [15]:
df.dtypes

Produto            object
Qtde              float64
Preço             float64
Data       datetime64[ns]
dtype: object

In [16]:
df.head()

     Produto  Qtde    Preço       Data
0    Celular   1.0  1254.85 2020-12-01
1  Chocolate   NaN      NaN        NaT

In [17]:
df.head()

     Produto  Qtde    Preço       Data
0    Celular   1.0  1254.85 2020-12-01
1  Chocolate   NaN      NaN        NaT

In [12]:
df.head()

   Produto  Qtde    Preço       Data
0  Celular     1  1254.85 2020-12-01

In [7]:
df.sample(5)

     Produto  Qtde    Preço       Data
7     Tablet   NaN      NaN        NaT
3     Sapato   1.0   299.99 2022-01-06
1  Chocolate   2.0    29.99 2022-01-06
4      Bolsa   1.0   999.99 2022-01-06
0    Celular   1.0  2999.99 2022-06-01

In [14]:
df.isnull().sum()

Produto    0
Qtde       2
Preço      2
Data       2
dtype: int64

In [24]:
df["Preço"].fillna(df["Preço"].mean(), inplace=True)

In [25]:
df["Preço"].mean()

1229.7975000000001

In [27]:
df.sample(5)

      Produto  Qtde      Preço       Data
1   Chocolate   2.0    29.9900 2022-01-06
8  Computador   1.0  1229.7975 2022-02-08
2       Blusa   5.0   199.9900 2022-01-06
0     Celular   1.0  2999.9900 2022-06-01
3      Sapato   1.0   299.9900 2022-01-06